.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  position: relative; /* Added */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-right: 515px;
}

.App-title {
  font-size: calc(10px + 2vmin);
  color: #E0354B;
  font-weight: bold;
  position: absolute; /* Added */
  top: 0; /* Added */
  left: 50%; /* Added */
  transform: translateX(-50%); /* Added */
}

.App-link {
  color: #61dafb;
}

.App-body {
  border-top: 2px solid #E0354B;
  padding: 20px;
  margin-top: 20px; /* Changed from -575px */
  margin-left: 20px;
  text-align: left;
}

.App-footer {
  border-top: 2px solid #E0354B;
  margin-top: 300px;
  padding: 20px;
}
