.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}

.App-header {
  background-color: #ffffff;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-right: 20px;
}

.App-title {
  font-size: 2em;
  color: #E0354B;
  font-weight: bold;
  margin: 0;
}

.App-slogan {
  font-size: 0.8em;
  color: #E0354B;
  margin-top: 10px;
}

.App-body {
  border-top: 3px solid #E0354B;
  border-bottom: 3px solid #E0354B;
  padding: 20px;
  margin: 80px 0;
  text-align: left;
}

.App-footer {
  font-size: 0.8em;
  color: black;
  font-style: italic;
  margin-top: 20px;
  padding: 20px;
}
