.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  position: relative;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-right: 515px;
}

.App-title {
  font-size: 1.5em; /* Adjusted font size */
  color: #E0354B; /* Red font color */
  font-weight: bold;
  position: absolute;
  top: 20px; /* Adjusted top position */
  left: 50%;
  transform: translateX(-50%);
}

.App-link {
  color: #61dafb;
}

.App-body {
  border-top: 2px solid #E0354B;
  padding: 20px;
  margin-top: 80px; /* Increased margin-top */
  margin-left: 20px;
  text-align: left;
}

.App-footer {
  border-top: 2px solid #E0354B;
  margin-top: 300px;
  padding: 20px;
}
